<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Logger</filter-name>
        <filter-class>sit.int303.demo.filter.LoggerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FormChecker</filter-name>
        <filter-class>sit.int303.demo.filter.FormCheckerFilter</filter-class>
        <init-param>
            <param-name>userName</param-name>
            <param-value>userName</param-value>
        </init-param>
        <init-param>
            <param-name>emailAddress</param-name>
            <param-value>emailAddress</param-value>
        </init-param>
        <init-param>
            <param-name>TARGET</param-name>
            <param-value>/Register.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>TrailerFilter</filter-name>
        <filter-class>sit.int303.demo.filter.TrailerFilter</filter-class>
        <init-param>
            <param-name>message</param-name>
            <param-value>(C) Copyright SIT KMUTT</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>sit.int303.demo.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>Page1Servlet</servlet-name>
        <servlet-name>Page2Servlet</servlet-name>
        <servlet-name>Page3Servlet</servlet-name>
        <servlet-name>Page4Servlet</servlet-name>
        <servlet-name>ProcessOrderServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TrailerFilter</filter-name>
        <servlet-name>VerySimpleServelet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FormChecker</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logger</filter-name>
        <servlet-name>VerySimpleServelet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>VerySimpleServelet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.VerySimpleServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadFavoriteSubjectServlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.ReadFavoriteSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagerServlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.ProductManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServelet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.ProductListServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page1Servlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.Page1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page2Servlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.Page2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page3Servlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.Page3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page4Servlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.Page4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrderServlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.ProcessOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoOrderNumberServlet</servlet-name>
        <servlet-class>sit.int303.demo.servlet.AutoOrderNumberServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerySimpleServelet</servlet-name>
        <url-pattern>/VerySimple</url-pattern>
        <url-pattern>/vs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadFavoriteSubjectServlet</servlet-name>
        <url-pattern>/ReadFavoriteSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagerServlet</servlet-name>
        <url-pattern>/ProductManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServelet</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page1Servlet</servlet-name>
        <url-pattern>/Page1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page2Servlet</servlet-name>
        <url-pattern>/Page2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page3Servlet</servlet-name>
        <url-pattern>/Page3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page4Servlet</servlet-name>
        <url-pattern>/Page4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrderServlet</servlet-name>
        <url-pattern>/ProcessOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoOrderNumberServlet</servlet-name>
        <url-pattern>/AutoOrderNumberServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/ErrorHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/ErrorHandler.jsp</location>
    </error-page>
</web-app>
